In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("transactions_with_fraud.csv")
df

,transaction_id,amount,currency,created,captured,status,city,country,state,postal_code,...,last4,exp_month,exp_year,cvc_check,risk_level,risk_score,network_status,seller_message,fraud_reason,is_fraud
0,c26ee9f9-0d65-4b89-98e4-13c8f2876bab,1000,eur,1613730412,False,succeeded,Kristinhaven,US,Utah,66270,...,9610,5,2035,pass,elevated,40,declined_by_network,Payment failed.,NaN,True
1,b1c4981c-2e37-447a-92ab-59f29e84d2ef,1514,eur,1727729019,False,pending,North Lisamouth,US,Delaware,67020,...,5509,5,2035,fail,normal,46,approved_by_network,Payment complete.,Fraudulent,True
2,985b37c0-e700-416b-92f5-f578c96a53b7,50,eur,1660816953,False,succeeded,West Kelsey,US,Maryland,594,...,1498,5,2026,pass,normal,79,declined_by_network,Payment failed.,NaN,True
3,63a056cd-df5d-411b-8180-b6aa3aef12c2,2000,eur,1697940703,True,succeeded,Rickyhaven,US,Georgia,51424,...,6135,9,2027,fail,normal,28,approved_by_network,Payment failed.,NaN,True
4,ed0cb659-096b-45a3-beec-5581381fecec,1000,usd,1680874645,True,succeeded,Curtisville,US,Utah,67111,...,3783,7,2033,pass,normal,26,approved_by_network,Payment complete.,Warning,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347995,63ed1cfa-d3af-486b-a032-8ca22305c405,705,eur,1674720299,False,succeeded,Andrewsborough,US,South Dakota,26190,...,725,11,2033,fail,elevated,68,approved_by_network,Payment complete.,NaN,True
347996,a6901070-7602-4648-ae9e-3295d396aac4,5532,eur,1625754716,True,succeeded,Adamville,US,Nevada,20926,...,4863,8,2026,pass,elevated,98,declined_by_network,Payment complete.,NaN,True
347997,96c766c5-cce4-4424-a9fe-88d3615adb71,500,usd,1645013315,False,succeeded,Port David,US,Colorado,82836,...,1805,12,2034,pass,elevated,55,declined_by_network,Payment failed.,NaN,True
347998,084c32c4-4117-49ec-91f7-ec3093e6d075,50,usd,1677652348,True,succeeded,Petersonstad,US,North Carolina,37893,...,1116,4,2034,fail,normal,47,declined_by_network,Payment failed.,NaN,True
347999,8b4e6ba5-ee2d-4202-bd0a-978e7800eb0a,4374,usd,1667809161,True,succeeded,Randallview,US,Michigan,72000,...,375,7,2033,pass,normal,71,declined_by_network,Payment failed.,NaN,True

In [3]:
df = df.drop(["transaction_id","name","email","phone"], axis=1)

In [4]:
df

,amount,currency,created,captured,status,city,country,state,postal_code,card_brand,last4,exp_month,exp_year,cvc_check,risk_level,risk_score,network_status,seller_message,fraud_reason,is_fraud
0,1000,eur,1613730412,False,succeeded,Kristinhaven,US,Utah,66270,amex,9610,5,2035,pass,elevated,40,declined_by_network,Payment failed.,NaN,True
1,1514,eur,1727729019,False,pending,North Lisamouth,US,Delaware,67020,prepaid,5509,5,2035,fail,normal,46,approved_by_network,Payment complete.,Fraudulent,True
2,50,eur,1660816953,False,succeeded,West Kelsey,US,Maryland,594,discover,1498,5,2026,pass,normal,79,declined_by_network,Payment failed.,NaN,True
3,2000,eur,1697940703,True,succeeded,Rickyhaven,US,Georgia,51424,mastercard,6135,9,2027,fail,normal,28,approved_by_network,Payment failed.,NaN,True
4,1000,usd,1680874645,True,succeeded,Curtisville,US,Utah,67111,amex,3783,7,2033,pass,normal,26,approved_by_network,Payment complete.,Warning,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347995,705,eur,1674720299,False,succeeded,Andrewsborough,US,South Dakota,26190,prepaid,725,11,2033,fail,elevated,68,approved_by_network,Payment complete.,NaN,True
347996,5532,eur,1625754716,True,succeeded,Adamville,US,Nevada,20926,mastercard,4863,8,2026,pass,elevated,98,declined_by_network,Payment complete.,NaN,True
347997,500,usd,1645013315,False,succeeded,Port David,US,Colorado,82836,mastercard,1805,12,2034,pass,elevated,55,declined_by_network,Payment failed.,NaN,True
347998,50,usd,1677652348,True,succeeded,Petersonstad,US,North Carolina,37893,visa,1116,4,2034,fail,normal,47,declined_by_network,Payment failed.,NaN,True
347999,4374,usd,1667809161,True,succeeded,Randallview,US,Michigan,72000,amex,375,7,2033,pass,normal,71,declined_by_network,Payment failed.,NaN,True

In [5]:
print(df.select_dtypes(include=['object']).columns)
print(df.select_dtypes(include=['bool']).columns)

Index(['currency', 'status', 'city', 'country', 'state', 'card_brand',
       'cvc_check', 'risk_level', 'network_status', 'seller_message',
       'fraud_reason'],
      dtype='object')
Index(['captured', 'is_fraud'], dtype='object')

In [6]:
from sklearn.preprocessing import LabelEncoder
encoders = {}

# Apply LabelEncoder to all string columns
for column in df.select_dtypes(include=['object']).columns:
    encoder = LabelEncoder()
    df[column] = encoder.fit_transform(df[column])
    encoders[column] = encoder

In [7]:
for column in df.select_dtypes(include=['bool']).columns:
    encoder = LabelEncoder()
    df[column] = encoder.fit_transform(df[column])
    encoders[column] = encoder

# Show the transformed DataFrame
print(df)

        amount  currency     created  captured  status   city  country  state  \
0         1000         0  1613730412         0       2  19617        0     43
1         1514         0  1727729019         0       1  39482        0      7
2           50         0  1660816953         0       2  63955        0     19
3         2000         0  1697940703         1       2  49901        0      9
4         1000         1  1680874645         1       2   5717        0     43
...        ...       ...         ...       ...     ...    ...      ...    ...
347995     705         0  1674720299         0       2    769        0     40
347996    5532         0  1625754716         1       2    117        0     27
347997     500         1  1645013315         0       2  44560        0      5
347998      50         1  1677652348         1       2  42757        0     32
347999    4374         1  1667809161         1       2  49404        0     21

        postal_code  card_brand  last4  exp_month  exp_year  cvc_check  \
0             66270           0   9610          5      2035          1
1             67020           3   5509          5      2035          0
2               594           1   1498          5      2026          1
3             51424           2   6135          9      2027          0
4             67111           0   3783          7      2033          1
...             ...         ...    ...        ...       ...        ...
347995        26190           3    725         11      2033          0
347996        20926           2   4863          8      2026          1
347997        82836           2   1805         12      2034          1
347998        37893           4   1116          4      2034          0
347999        72000           0    375          7      2033          1

        risk_level  risk_score  network_status  seller_message  fraud_reason  \
0                0          40               1               1             6
1                2          46               0               0             0
2                2          79               1               1             6
3                2          28               0               1             6
4                2          26               0               0             5
...            ...         ...             ...             ...           ...
347995           0          68               0               0             6
347996           0          98               1               0             6
347997           0          55               1               1             6
347998           2          47               1               1             6
347999           2          71               1               1             6

        is_fraud
0              1
1              1
2              1
3              1
4              1
...          ...
347995         1
347996         1
347997         1
347998         1
347999         1

[348000 rows x 20 columns]

In [8]:
import joblib
joblib.dump(encoders, 'dynamic_encoders.pkl')
print("\nEncoders saved to 'dynamic_encoders.pkl'")

Encoders saved to 'dynamic_encoders.pkl'

In [9]:
nan_counts = df.isna().sum()

# Print the counts
print("Count of NaN values in each column:")
print(nan_counts)

Count of NaN values in each column:
amount            0
currency          0
created           0
captured          0
status            0
city              0
country           0
state             0
postal_code       0
card_brand        0
last4             0
exp_month         0
exp_year          0
cvc_check         0
risk_level        0
risk_score        0
network_status    0
seller_message    0
fraud_reason      0
is_fraud          0
dtype: int64

In [10]:
df['postal_code'] = df['postal_code'].fillna(00000)

In [11]:
nan_counts = df.isna().sum()

# Print the counts
print("Count of NaN values in each column:")
print(nan_counts)

Count of NaN values in each column:
amount            0
currency          0
created           0
captured          0
status            0
city              0
country           0
state             0
postal_code       0
card_brand        0
last4             0
exp_month         0
exp_year          0
cvc_check         0
risk_level        0
risk_score        0
network_status    0
seller_message    0
fraud_reason      0
is_fraud          0
dtype: int64

In [12]:
df.to_csv("Processed_data.csv",index=False)